/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flex{
    display: flex;
}
.text-white{
    color: #FFFFFF;
}

.btn{
    background: linear-gradient(to top right, #F7E93F 20%, #FB09B4 50%, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.gradient{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* navbar */
.navbar{
    background-color: #1A0B2E;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 5.75rem;

}
.navbar img{
    display: none;
}

.menu{
  list-style: none;
  gap: 30px;
  align-items: center;
}

.menulist {
  font-weight: 300;
}

.menulist a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}

.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
hr{
  border: none;
  height: 0.4px;
  background: #878ac2;
}

/* banner */
#banner{
    background: url(../assets/hero-bg.png) no-repeat center/cover;
    min-height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-img{
    position: relative; 
    width: 300px;     
    height: 300px;   
    background: url("../assets/hero-circle.png") no-repeat center center;
    background-size: contain; 
    display: flex;          
    align-items: center;
    justify-content: center;
}
.banner-img img{
  max-width: 100%;
}

.banner-content{
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.btn2{
    color: #00FF88;
    border: 2px solid #00FF88;
    background-color: #1A0B2E;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.badge{
    border: none;
    background-color: #00FF88;
    color: #1A0B2E;
    box-shadow: 0 3px 27px 0 #00FF88;
    border-radius: 40px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 8px;
    right: 8px;
}
/* about section */
#about{
    background-color: #1A0B2E;
}
.about-container{
    padding: 0 200px;
}
.about-content{
    text-align: center;
}
.about-content h2{
    padding-top: 50px;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}
.about-content p{
    padding-bottom: 5rem;
    font-size: 1rem;
    font-weight: 400;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    padding-bottom: 120px;
}
.box{
    text-align: center;
}
.box h3{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 800;
    padding-bottom: 1rem;
}
.box p{
    font-size: 1rem;
    font-weight: 400;
}


@media screen and (max-width: 576px){
    .menu, .navbar button{
        display: none;
    }
    .navbar img{
        display: block;
        margin-left: 12.5rem;
        cursor: pointer;
    }
    .brand{
        font-size: 1.5rem;
    }
#banner{
min-width: 60vw; 
padding: 90px 16px 40px;
       }  
.banner-content{
   padding-top: 0;
    } 
    .banner-img{
        background-size: 80%;
    }
.banner-img img{
  width: 20%;
  height: auto;
 } 
.badge{ padding: 8px 16px; 
  font-size: 16px;
  top: 40px; 
  right: 30px; 
 }
 .about-container{
    padding: 0;
}
 .box-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
 }
}
 @media screen and (min-width: 992px) {
  .brand{
  font-size: 3rem;
  }
  .about-container{
    padding: 0 200px;
  }
  .box-container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
  }
}