*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.navbar{
    background-color: #412567;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 5.75rem;

}
.navbar img{
    display: none;
}

.flex{
    display: flex;
}
.text-white{
    color: #FFFFFF;
}

.menu{
  list-style: none;
  gap: 30px;
  align-items: center;
}

.menulist {
  font-weight: 300;
}

.menulist a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}

.btn{
    background: linear-gradient(to top right, #F7E93F 20%, #FB09B4 50%, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}

.gradient{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 576px){
    .menu, .navbar button{
        display: none;
    }
    .navbar img{
        display: block;
        margin-left: 12.5rem;
        cursor: pointer;
    }
    .brand{
    font-size: 1.5rem;
}
}


@media screen and (min-width: 992px){
    .brand{
    font-size: 3rem;
}
}