/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.flex{
    display: flex;
}
.text-white{
    color: #FFFFFF;
}

.btn{
    background: linear-gradient(to top right, #F7E93F 20%, #FB09B4 50%, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 40px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
@keyframes gradientMove {
    0% {
        background: linear-gradient(to top right, #F7E93F 20%, #FB09B4 50%, #9100F8);
    }

    50% {
        background: linear-gradient(to top right, #9100F8, #F7E93F, #FB09B4);
    }

    100% {
        background: linear-gradient(to top right, #F7E93F, #9100F8, #FB09B4);
    }
}
.animation{
    animation: gradientMove 1s linear infinite;
}

.gradient{
    background: linear-gradient(to top, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* navbar */
.navbar{
    background-color: #1A0B2E;
    justify-content: space-around;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    height: 5.75rem;
}
.navbar img{
    display: none;
}
.menu{
  list-style: none;
  gap: 30px;
  align-items: center;
  display: flex;
}
.menulist a{
  text-decoration: none;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 400;
}
.brand{
    font-size: 2.5rem;
    font-weight: 700;
}
hr{
  border: none;
  height: 0.4px;
  background: #878ac2;
}

/* banner */
#banner{
    background: url(../assets/hero-bg.png) no-repeat center/cover;
    min-height: 87vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.banner-img{
    position: relative; 
    width: 300px;     
    height: 300px;   
    background: url("../assets/hero-circle.png") no-repeat center center;
    background-size: contain; 
    display: flex;          
    align-items: center;
    justify-content: center;
}
.banner-img img{
  max-width: 100%;
}
.banner-content{
    align-items: center;
    text-align: center;
    margin-top: 40px;
    max-width: 500px;
}
.banner-content h1{
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 24px;
}
.btn2{
    color: #00FF88;
    border: 2px solid #00FF88;
    background-color: #1A0B2E;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.badge{
    border: none;
    background-color: #00FF88;
    color: #1A0B2E;
    box-shadow: 0 3px 27px 0 #00FF88;
    border-radius: 40px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top: 8px;
    right: 8px;
}

/* about section */
#about{
    background-color: #1A0B2E;
}
.about-container{
    padding: 0 200px;
}
.about-content{
    text-align: center;
}
.about-content h2{
    padding-top: 50px;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
}
.about-content p{
    padding-bottom: 5rem;
    font-size: 1rem;
    font-weight: 400;
}
.box-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-content: center;
    padding-bottom: 120px;
}
.box{
    text-align: center;
}
.box h3{
    font-size: 3rem;
    color: #00FF88;
    font-weight: 800;
    padding-bottom: 1rem;
}
.box p{
    font-size: 1rem;
    font-weight: 400;
}
/* why section */
.why-container{
    background-color: #230E3D;
    padding: 120px 200px;

}
.why-content{
    text-align: center;
    padding-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
}
.icon{
    font-size: 32px;
}
.card-container{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    justify-content: center;
}
.card{
    background-color: #351165;
    padding: 40px;
    border-radius: 30px;
}
.icons{
    font-size: 40px;
    width: 100%;
}
.card h3{
    font-size: 24px;
    font-weight: 700;
    padding: 16px 0;
}
.card p, .host-info p{
font-size: 16px;
font-weight: 300;
}
.card:nth-child(1){
    grid-row: span 2;
    grid-column: span 1;
    padding-top: 130px;
}
.card:nth-child(2){
    grid-row: span 1;
    grid-column: span 2;
}
.card:nth-child(3){
    grid-row: span 1;
    grid-column: span 2;
}
.card:nth-child(4){
    grid-row: span 1;
    grid-column: span 2;
}
.card:nth-child(5){
    grid-row: span 1;
    grid-column: span 1;
}
/* featured episode section */
#episodes, #host{
    background-color: #1A0B2E;
}
.episodes-container, #host{
padding: 120px 200px;
}
.episodes-content, .host-heading{
    text-align: center;
    padding-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
}
.video-container{
    gap: 30px;
    justify-content: center;
}

.video{
    padding: 24px;
    background-color: #250D44;
    border-radius: 20px;
    overflow:hidden;   
    width:380px;
    padding:0;  
}
.video h3{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 24px;
    font-weight: 700;
}
.video p{
    font-size: 16px;
    font-weight: 400;
    padding: 12px 24px;
}

.time{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 24px;
}

.clip{
    position: relative;
  width: 100%;
  border-radius: 16px;
}

.clip iframe{
  width: 100%;
  height: 100%;
  border: none;
}
.play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
 -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: 80px;
}
.play-btn:hover{
  transform: translate(-50%, -50%) scale(1.1);
}
/* host section */
.host-container{
    gap: 24px;
    background-color:#250D44;
    border-radius: 25px;
    padding: 40px;
}
.host-info p{
    padding: 16px 0;
}
.host-info h3{
    font-size: 2rem;
    font-weight: 700;
}
.icon-container{
    gap: 8px;
}
.icon{
     border: 1px solid #533C72;
     height: 50px;
     width: 50px;
    border-radius:50%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* footer */
footer{
    background: url(../assets/footer-bg.png) no-repeat center;
    background-size: cover;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}
.social-container{
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    width: 100%; 
}
.social{
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
}
.ending{
    font-size: 3rem;
    font-weight: 700;
}
footer p{
    font-size: 16px;
    font-weight: 300;
}
/* mobile layout */
@media screen and (max-width: 576px){
    .menu, .navbar button{
        display: none;
    }
    .navbar img{
        display: block;
        margin-left: 12.5rem;
        cursor: pointer;
    }
    .brand{
        font-size: 1.5rem;
    }
    #banner{
        min-width: 60vw; 
        padding: 90px 16px 40px;
    }  
    .banner-img{
        width: 200px;
        height: 200px;
        background-size: 80%;
    }
    .banner-img img{
        width: 55px;
        height: 80px;
    }
    .banner-content{
        max-width: 400px;
        margin-top: 20px;
    }
    .badge{
        padding: 8px 16px;
        font-size: 12px;
        top: 20px;
        right: 10px;
    }
    .about-container{
        padding: 0 16px;
    }
    .box-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
    .why-content{
    padding-bottom: 16px;
}
.why-container{
    padding: 40px 20px;
}

    .card-container{
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
}
    .card:nth-child(1){
    grid-row: span 1;
    grid-column: span 1;
    padding-top: 40px;
}
.card:nth-child(2){
    grid-row: span 1;
    grid-column: span 1;
}
.card:nth-child(3){
    grid-row: span 1;
    grid-column: span 1;
}
.card:nth-child(4){
    grid-row: span 1;
    grid-column: span 1;
}
.card:nth-child(5){
    grid-row: span 1;
    grid-column: span 1;
}
.card-container{
    gap: 16px;
}
.video-container{
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.episodes-container{
    padding: 16px 20px;
}
#host{
    padding: 24px;
}
.host-container{
    flex-direction: column;
    max-width: 440px;
    text-align: center;
}
.icon-container{
    justify-content: center;
    
}
.content{
        padding: 40px 20px;
        max-width: 450px;
        align-items: center;
        justify-content: center;
        gap: 24px;
    }

    .social-container{
        max-width: 300px;
        padding-top: 20px;
        gap: 16px;
    }

    .ending{
        font-size: 2rem;
    }

}

/* large desktop layout */
@media screen and (min-width: 992px){
    .brand{
        font-size: 3rem;
    }
    .about-container{
        padding: 0 200px;
    }
    .box-container{
        grid-template-columns: repeat(4, 1fr);
    }
}